input#id_bulletin_name, input#id_editors, input#id_cover_description, textarea#id_todo { width: 60em; }
td.header input { width: 30em; }
td.footer input { width: 30em; }
td.first_name input { width: 30em; }
td.last_name input { width: 30em; }
td.region_name input { width: 20em; }
td.map_name input { width: 50em; }
td.extent input { width: 40em; }
td.chapter_title input { width: 40em; }
td.sort_order input { width: 2em; }
td.section_data textarea { width: 50em; }
td.section_subtitle input { width: 10em; }
