[Unit]
Description=Build bulletin %I

[Service]
User=www-data
Type=simple
WorkingDirectory=/usr/local/cavedbmanager
ExecStart=/usr/bin/python ./cavedb/scripts/generate_single_bulletin.py %i
Environment="DJANGO_SETTINGS_MODULE=cavedb.settings"
Environment="PYTHONPATH=."
LimitNOFILE=20480
#ProtectSystem=full
#ReadWritePaths=/usr/local/cavedbmanager-data/bulletins/ /usr/local/cavedbmanager/
PrivateTmp=true
PrivateNetwork=true
