[Unit]
Description=cavedbmanager

[Service]
User=root
Type=simple
WorkingDirectory=/usr/local/cavedbmanager
ExecStart=/usr/bin/make dockerRun
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
