input#id_bulletin_name, input#id_editors, input#id_cover_description, textarea#id_todo { width: 60em; }
td.field-header input { width: 30em; }
td.field-footer input { width: 30em; }
td.field-first_name input { width: 30em; }
td.field-last_name input { width: 30em; }
td.field-region_name input { width: 20em; }
td.field-map_name input { width: 50em; }
td.field-extent input { width: 40em; }
td.field-chapter_title input { width: 40em; }
td.field-sort_order input { width: 2em; }
td.field-section_data textarea { width: 50em; }
td.field-section_subtitle input { width: 10em; }
